PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:15432/lck_archive?schema=public

LOLESPORTS_API_URL=https://esports-api.lolesports.com/persisted/gw
LOLESPORTS_API_KEY=0TvQnueqKa5mxJntVWt0w4LpLfEkrV1Ta8rQBb9Z
LOLESPORTS_API_LOCALE=ko-KR
LCK_LEAGUE_ID=98767991310872058
LCK_TOURNAMENT_ID=113503260417890076
LCK_SYNC_ENABLED=false
